{# index template #}
{% extends "layouts/base.twig" %}

{% block adobe %}
    <!--Adobe Edge Runtime-->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <script type="text/javascript" charset="utf-8" src="http://animate.adobe.com/runtime/5.0.1/edge.5.0.1.min.js"></script>
        <style>
            .edgeLoad-EDGE-22688831 { visibility:hidden; }
        </style>
        <script>
           AdobeEdge.loadComposition('home-banner', 'EDGE-22688831', {
            scaleToFit: "width",
            centerStage: "horizontal",
            minW: "0px",
            maxW: "1024px",
            width: "600px",
            height: "60px"
        }, {"dom":{}}, {"dom":{}});
        </script>
    <!--Adobe Edge Runtime End-->
{% endblock adobe %}

{% block header %}
    <div id="Stage" class="EDGE-22688831">
        <div id="Stage_txtRecycle" class="edgeLoad-EDGE-22688831">Recycle</div>
        <div id="Stage_txtReuse" class="edgeLoad-EDGE-22688831">Reuse</div>
        <div id="Stage_txtReduce" class="edgeLoad-EDGE-22688831">Reduce</div>
        <h1 id="Stage_txtRecyclingMatters" class="edgeLoad-EDGE-22688831">Recycling Matters</h1>
        <div id="Stage_imgRecycle" class="edgeLoad-EDGE-22688831"></div>
    </div>
{% endblock header %}

{% block content %}
<h2>Recycling Really does Matter</h2>
<p>Recycling is a process to change waste materials into new products to prevent waste of potentially useful materials, reduce the consumption of fresh raw materials, reduce energy usage, reduce air pollution and water pollution by reducing the need for "conventional" waste disposal, and lower greenhouse gas emissions as compared to plastic production. Recycling is a key component of modern waste reduction and is the third component of the "Reduce, Reuse and Recycle" waste hierarchy. - <a href="http://en.wikipedia.org/wiki/Recycling">Wikipedia</a></p>
<p>Recycling helps the planet by reducing the amount of waste that goes into landfills. It also reduces the amount of natural resources used by reducing the amount of resources needed. We can even reduce the amount of recycling we do if we reuse and reduce the amount of waste we create.</p>
<h2>Doctor Ipsum</h2>
<p>Well, of course I'm being childish! There's no point being grown-up if you can't be childish sometimes. Hello-o-o-o. Well, my Doctorate is purely honorary and Harry is only qualified to work on sailors. It may be irrational of me, but human beings are my favorite species. You're standing on my scarf. Come on! Are you listening to me? The trouble with computers, of course, is that they're very sophisticated idiots. They do exactly what you tell them at amazing speed. Even if you order them to kill you. So if you do happen to change your mind, it's very difficult to stop them from obeying the original order. But not impossible.</p>
<p>There's something else I've always wanted to say: Allons-y, Alonso! Aw, I wanted to be ginger! I've never been ginger! And you, Rose Tyler! Fat lot of good you were! You gave up on me! Ooh, that's rude. Is that the sort of man I am now? Am I rude? Rude and not ginger. River, you know my name. You whispered my name in my ear! There's only one reason I would ever tell anyone my name. There's only one time I could... I'm the Doctor, I can save the world with a kettle and some string! And look! I'm wearing a vegetable!</p>
<p>Big scarf, bow tie, big embarrassing. Come on, Team Not Dead. Can I talk about planets now? That's a relief. I hate babysitters. No. That is not the question. That is not where we start. Sorry, I'm going to have to relieve you of your pet. Shut up, I was talking to the horse. Why do you have three mirrors? Why don't you just turn your head? I am totally against bantering. I was being chased by a giant dinosaur, but I think I've managed to give it the slip. Oh, you've got a dinosaur too! My carer. She cares so I don't have to.</p>
{% endblock content %}
