{# base Twig template #}
<!DOCTYPE html>
<!--
Filename: index.html
Date: 28 Jun 16
Programmer: Jaymes Young-Liebgott
-->

<html lang="en">
    <head>
        <title>Recycling Matters</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
        {% block adobe %}
        <!--Adobe Edge Runtime-->
            <meta http-equiv="X-UA-Compatible" content="IE=Edge">
            <script type="text/javascript" charset="utf-8" src="http://animate.adobe.com/runtime/5.0.1/edge.5.0.1.min.js"></script>
            <style>
                .edgeLoad-EDGE-22688831 { visibility:hidden; }
            </style>
            <script>
               AdobeEdge.loadComposition('home-banner', 'EDGE-22688831', {
                scaleToFit: "width",
                centerStage: "horizontal",
                minW: "0px",
                maxW: "1024px",
                width: "600px",
                height: "60px"
            }, {"dom":{}}, {"dom":{}});
            </script>
        <!--Adobe Edge Runtime End-->
        {% endblock adobe %}
        <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
        <link href="assets/css/styles.css" rel="stylesheet">
        <meta name="description" content="Recycling matters, facts and tips about reusing, reducing and recycling our planets limited resources. Learn about reducing waste.">
        
    </head>
    
    <body>
        <header class="main-header">
            {% block header %}
            {% endblock header %}
        </header>
        
        <div class="wrapper">
            <nav class="main-nav">
                {{ include('partials/main-nav.twig') }}
            </nav>
            
            <main class="main-content">
                {% block content %}
                {% endblock content %}
            </main>
            
            <footer class="main-footer">
                {{ include('partials/footer.twig') }}
            </footer>
        </div>
            
    </body>  
</html>
